body {
    margin: 0;
    height: 100vh;
    background: #212121;
    
}
.main{
    height: 50%;
    width: 100%;
    color: rgb(208, 205, 205);

}

.buttons {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 20px;
}
button {
    background-color: rgb(208, 205, 205);
    padding: 10px 30px;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
    color: black;
    letter-spacing: 0.5px;
}

button:active {
    border-style: inset;    
    border-color: #1a1a1a;     
    transform: translateY(2px); 
    background-color: rgb(195, 192, 192); 
}